{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Maqam</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'analyzer/images/maqam-logo.svg' %}" />
    <link href="{% static 'analyzer/css/style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <!------------ header -------------->
    <div class="white-background">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'analyzer/images/maqam-logo.svg' %}">
                </div>
            </div>
        </div>
    </div>
    
     
    <!------------ Add  -------------->
    <div class="add">
        <div class="small-container">
            <div class="wrapper">
                <div class="title">
                    تعرف على المقام<br> Find the maqam
                </div>
                <div class="inputfield">
                    <div class="row">
                        <img src="{% static 'analyzer/images/number1.svg' %}">
                        <button class="submit-button">
                            <label class="upload-box">
                                <input type="file" accept="audio/*" capture id="recorder"  >
                                Upload file
                            </label>
                        </button>
                        
                        
                        
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or
                        
                        <img id="recButton" src="{% static 'analyzer/images/microphone.svg' %}" alt="" class="circle">
                        <img id="stoButton" src="{% static 'analyzer/images/stop-mic.svg' %}" alt="" class="circle">
                       اختر ملف او سجل
                    </div>
                </div>

                <div class="inputfield">
                    <div class="row">
                        <img src="{% static 'analyzer/images/number2.svg' %}">
                        Preview&nbsp;&nbsp;&nbsp;          
                        <audio id="player" controls></audio>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;راجع
                    </div>
                </div>
                <div class="inputfield">
                    <div class="row">
                        <img src="{% static 'analyzer/images/number3.svg' %}">
                              
                        <button class="submit-button">
                            Analyze
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!---------------- footer  ---------------->
    <div class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="logo">
                    <img src="{% static 'analyzer/images/maqam-white-logo.svg' %}">
                </div>
                <p>
                    تطبيق التعرف على المقامات
                </p>
                <p>
                    Maqam recognition application
                </p>
                <ul class="socials">
                    <li><a href="#"><img src="{% static 'analyzer/images/facebook.svg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'analyzer/images/twitter-sign.svg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'analyzer/images/google-plus.svg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'analyzer/images/youtube-white-logo.svg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'analyzer/images/linkedin.svg' %}" alt=""></a></li>
                </ul>
            </div>

        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 Maqam. designed by <span>maqam team</span></p>
        </div>
    </div>

    <script src="{% static 'analyzer/js/site.js' %}" type="text/javascript"> </script>
</body>

</html>